.cable-group {
  border: 1px solid $color-black;
  border-radius: 10px;
  max-width: 760px;
  width: 100%;
  min-height: 100px;
  padding: 4px 15px 4px 6px;

  &__header {
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px 8px;
    min-width: 232px;

    &-text {
      font-size: 12px;
      line-height: 1.2;
    }

    &.absolute {
      top: -15px;
      right: 8px;
    }
  }

  &__add {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.2;
    color: $color-grey-dark;
    margin-top: 6px;
  }

  &__add {
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.2;
    color: $color-grey-dark;
    display: flex;
    gap: 2px;
  }

  &__btn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
  }

  &__icon {
    width: 25px;
    height: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 9px 0;
    padding-bottom: 17px;
  }

  @include respond(tab-port) {
    &__header {
      min-width: 180px;
    }
    &__header-text {
      font-size: 10px;
    }
    &__add,
    &__subtitle {
      font-size: 10px;
    }

    &__icon,
    &__btn {
      width: 18px;
      height: 18px;
    }
  }

  @include respond(phone) {
    &__header-text {
      font-size: 9px;
    }
    &__content {
      padding-top: 8px;
    }
    &__list {
      gap: 20px;
      padding: 17px 0;
    }
  }
}
