// COLORS
$color-red: #db524c;

$color-green: #58b957;

$color-orange: #efac43;

$color-blue-light: #55bfe0;
$color-blue: #3d8bcd;

$color-grey-light: #ddd;
$color-grey-dark: #999;

$color-dark: #222222;

$color-white: #fff;
$color-black: #000;
